.ham-menu-open div:nth-child(1) {
  transform: 'rotate(45deg) translateY(5px)';
}

.ham-menu-open div:nth-child(3) {
  transform: 'rotate(-45deg) translateY(-5px)';
}

.ham-menu-open div:nth-child(2) {
  display: 'none';
}

.swiper-pagination span {
  border: '2px solid hsl(12, 88%, 59%)';
  width: '0.65rem';
  height: '0.65rem';
  background-color: 'hsl(12, 88%, 59%)';
}
